@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    min-height: 100vh;
    font-family: "Roboto";
}
header{
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    color: #ffffff;
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: "Roboto";
}
header h1{
    padding-top: 20px;
    margin-bottom: 1.2rem;
    font-family: "Madimi One", sans-serif;

}
header a{
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.188rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
header a:hover{
    background-color: rgba(42, 42, 180, 0.63);
}
header a:active{
    text-decoration: underline;
}
main{
    padding-top: 7.25rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#manchete{
    grid-column: 1/4;
    display: flex;
    min-height: 25rem;
    margin-bottom: 2rem;
    padding: 1%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
}
.corpo-manchete{
    width: 35%;
    padding: 3rem;
    text-align: center;
}
.corpo-manchete h2{
    text-align: center;
    font-size: 2rem;
}
#manchete img{
    width: 65%;
}
#noticias{
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4.5rem;
}
article{
    width: 31.33%;
    padding: 1%;
    min-height: 20rem;
}
#not01{
    background-color: #ff0000;
}
#not02{
    background-color: #00ff00;
}
#not03{
    background-color: #0000ff;
}
footer{
    background-color: #191970;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer p{
    text-align: center;
    padding: 1.25rem 0;
   color: #fff;
}